@(friends: List[User])

@main("Find Friends") {
@dashboard_menu()

  <section class="ui raised segment">
    <div class="ui grid">
      <aside class="six wide column">
        <img src="@routes.Assets.at("images/watch.jpg")" class="ui medium image">
      </aside>
      <article class="eight wide column">
        <h3> <class="ui header"> Find Friends </h3>
        <table class="ui inverted grey table segment">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
            </tr>
          </thead>
          
          <tbody>
              @for(i <- 0 until friends.size) {
              <tr>
                <td> @friends(i).firstname</td> 
                <td> @friends(i).lastname </td> 
                <td> @friends(i).email </td> 
                <td> <a href="/dashboard/addFriend/@friends(i).id"><i class="add icon"></i></a></td>
              </tr>
              }
  		  </tbody>
        </table>
      </article>
    </div>
  </section>
}